body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./images/bg-desktop.png");
  background-size: cover;
  background-position: center;
}

.main {
  display: flex;
  flex: 1 1 auto;
  align-content: flex-end;
  margin: auto 0;
  max-width: 900px;
}

.fylo {
  margin-right: 2rem;
  width: fit-content;
}

.storage {
  margin-top: auto;
  height: fit-content;
  flex: 1 1 auto;
  text-align: left;
}

.counter {
  padding: 2rem 3rem;
  width: fit-content;
  top: -40%;
  left: 65%;
}

.counter::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: -14px;
  background-color: transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid #f5f5f5;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
